site_name: Florilegium
sute_utl: https://diskmanti.xyz/florilegium
theme:
  name: material
  palette:
    # Adds a dark/light mode toggle
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - search.suggest
    - content.code.copy
nav:
  - Home: index.md
